@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;500;600&display=swap");
// @import "@/style";
// @import "./reset.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

html {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--tg-theme-text-color);
    opacity: 1 !important;
}

a:hover {
    opacity: 0.7;
}

body {
    font-family: "Open Sans", sans-serif !important;
}

.wrapper-content {
    max-width: 1030px;
    margin: 0 auto;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;

    padding: 0 16px;

    .wrapper-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 30px;

        max-width: 500px;
        width: 100%;

        .wrapper-title {
            display: flex;
            flex-direction: row;

            align-items: center;

            margin-bottom: 12px;

            .title {
                font-size: 24px;
                margin-right: 12px;
            }
        }

        img {
            width: 32px;
            height: 32px;
        }

        .main-subtitle {
            font-size: 14px;

            line-height: 19px;
            text-align: center;

            color: var(--tg-theme-hint-color);
        }
    }
}

.horizontal-line {
    height: 1px;

    background: rgba(var(--tg-theme-hint-color-rgb), 0.5);
}

.wrapper-main-content {
    max-width: 380px;
    width: 100%;
}

.wrapper-select {
    display: flex;
    flex-direction: column;
    text-align: center;

    border: 1px solid rgba(var(--tg-theme-hint-color-rgb), 0.5);
    border-radius: 8px;

    padding: 0 16px;
}

.my-select {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    padding: 24px;

    border: none;

    background: transparent;
    color: currentColor;

    text-align: center;
    text-align: -webkit-center;

    .my-option {
        color: var(--tg-theme-button-text-color);
        background-color: var(--tg-theme-bg-color);
    }

    &:hover {
        opacity: 0.7;
    }

    &:active, &:focus, &:target, &:visited {
        border: none !important;
    }
}
