//---   Buttons    ---//
$btn-blue: #62B0FF;
$btn-gray: #555555;
//--- \\ Buttons \\---//

//---   Hover    ---//
$btn-blue-hover: #3d94eb;
$btn-gray-hover: #474545;
//--- \\ Hover \\---//

//---   Active    ---//
$btn-blue-active: #046bd3;
$btn-gray-active: #363131;
//--- \\ Active \\---//

//---   Disable    ---//
$d_btn-blue:#355F89;
//--- \\ Disable \\---//



$black: #000;
$border-gray:#7B7D8E;
$txt-gray: #DDDDDD;
$bg-gray: #212124;
$header-color: #909091;
$white: #FFFFFF;
$header-bcg: #212124;
$main-backg: #1A1A1D;
